<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<title>Add new category</title>
	<link rel="stylesheet" type="text/css" href="css/FormStyles.css"/>
	<link rel="stylesheet" type="text/css" href="css/HorizontalMenuStyles.css"/>
</head>
<body>

<h1 th:text="#{general.text.welcome}"></h1>

<div th:if="${log?.getName() != null and log.getRole().toString() =='ADMINISTRATOR'}">
	<ul>
		<li><a href="users/myprofile" th:text="#{My.Profile}"></a></li>
	</ul>
	<form action="LogInLogOut/logout" method="get" >
		<input type="submit"  th:value="#{general.text.logout}"/>
	</form>
	<ul>
		<li><a href="users/homepage" th:text="#{general.text.users}"></a></li>
		<li><a href="MedicineCategories" th:text="#{general.text.medcats}"></a></li>
		<li><a href="Medicine" th:text="#{general.text.meds}"></a></li>
	</ul>
</div>
<div th:if="${log?.getName() != null and log.getRole().toString() =='CUSTOMER'}">
	<ul>
		<li><a href="users/myprofile" th:text="#{My.Profile}"></a></li>
	</ul>
	<form action="LogInLogOut/logout" method="get" >
		<input type="submit"  th:value="#{general.text.logout}"/>
	</form>
	<ul>
		<li><a href="Medicine/shop" th:text="#{sh}"></a></li>
	</ul>
</div>
<div th:if="${log?.getName() != null and log.getRole().toString() =='PHARMACIST'}">
	<ul>
		<li><a href="users/myprofile" th:text="#{My.Profile}"></a></li>
	</ul>
	<form action="LogInLogOut/logout" method="get" >
		<input type="submit"  th:value="#{general.text.logout}"/>
	</form>
	<ul>
		<li><a href="Medicine/orderfar" th:text="#{order}"></a></li>
		<li><a href="MedicineCategories" th:text="#{general.text.medcats}"></a></li>
		<li><a href="Medicine" th:text="#{general.text.meds}"></a></li>
	</ul>
</div>




<a href="/PharmacyProject/LogInLogOut/register" th:text="#{general.text.signup}"></a><br/>
<a href="/PharmacyProject/LogInLogOut/login" th:text="#{general.text.login}"></a><br/>
<a href="/PharmacyProject/Medicine/changeLang?jezik=en" th:text="#{general.text.chlengen}"></a><br/>
<a href="/PharmacyProject/Medicine/changeLang?jezik=sr" th:text="#{general.text.chlengrs}"></a><br/>
</body>
</html>