<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <base th:href="@{/}">
  <link rel="stylesheet"  type="text/css"  href="css/TableStyles.css"/>
  <link rel="stylesheet"  type="text/css" href="css/HorizontalMenuStyles.css"/>
  <title>Medicine categories</title>
</head>
<body>
<ul>
  <li><a href="users" th:text="#{general.text.users}"></a></li>
  <li><a href="MedicineCategories" th:text="#{general.text.medcats}"></a></li>
</ul>
<ul>
  <li><a href="users/myprofile" th:text="#{My.Profile}"></a></li>
</ul>
<form action="LogInLogOut/logout" method="get" >
  <input type="submit"  th:value="#{general.text.logout}"/>
</form>
<table id="myTable2">
  <caption th:text="#{general.text.meds}"></caption>
  <tr>
    <th  onclick="sortTable2(0)" th:text="#{Medicine.text.id}"></th>
    <th onclick="sortTable(1)" th:text="#{Medicine.text.name}"></th>
    <th onclick="sortTable2(2)" th:text="#{details.text.Grade}"></th>
    <th onclick="sortTable2(3)" th:text="#{Medicine.text.Price}"></th>
    <th onclick="sortTable(4)" th:text="#{Medicine.text.MedicineCategory}"> </th>
    <th onclick="sortTable(5)" th:text="#{Medicine.text.Manufecturer}"> </th>
    <th  onclick="sortTable(6)" th:text="#{med.apr}"></th>
    <th th:text="#{med.img }"> </th>

    <th></th>
    <th></th>
  </tr>
  <tr th:each="itMedicineCategory, status: ${medicineCategories}">
    <td th:text="${(status.index + 1)+'.'}"></td>
    <td th:text="${itMedicineCategory.getName()}"></td>
    <td th:text="${itMedicineCategory.getGrade()}"></td>
    <td th:text="${itMedicineCategory.getPrice()}"></td>
    <td th:text="${itMedicineCategory.getMedicineCategory().getMedicineName()}"></td>
    <td th:text="${itMedicineCategory.getManufecturer().getName()}"></td>
    <td th:text="${itMedicineCategory.isApproved()}"></td>
    <td><img th:src="${itMedicineCategory.getFIle()}"></td>



    <td>
      <form action="Medicine/details" method="get">
        <input type="hidden" id="id" name="id" th:value="|${itMedicineCategory.getId()}|">
        <input type="submit" th:value="#{general.details}">
      </form>


    </td>
    <td>
     <a th:href="@{'Medicine/order?id=' + ${itMedicineCategory.getId()}}" ><button th:text="#{details.order}"></button></a>


    </td>
    <td th:if="${itMedicineCategory.isApproved() == false}"><form action="Medicine/aprv" method="post">
      <input type="hidden" name="aprv" th:value="${itMedicineCategory.getId()}" />
      <input type="submit" th:value="#{apr}" />
    </form></td>
</table>
<ul>
  <li><a href = "Medicine/add" th:text="#{Addmedicine.text.button}"></a></li>

</ul>
<script src="js/Java.js"></script>
</body>
</html>