table {
	border-collapse: collapse;
	margin: 5px;
}

caption {
	font-size: 16pt
}

th, td {
	border: 1px solid Gray;
	padding: 5px;
}
img{
	width: 200px;height: 200px;
}

th {
	text-align: right;
	width: 150px;
	color: white;
	background-color: DodgerBlue;
}

td {
	background-color: White;
	min-width: 250px;
}

input, textarea, select {
	width: 250px;
	box-sizing: border-box;
}

input[type="checkbox"], input[type="radio"] {
	width: 20px;
}
.alert {
	padding: 20px;
	background-color: #f44336; /* Red */
	color: white;
	margin-bottom: 15px;
}

/* The close button */
.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
	color: black;
}
